/* @import url('https://fonts.googleapis.com/css?family=Ubuntu'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu !important;
}

h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.container_1 {
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.card>figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card>figure>img {
    width: 100%;

}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 78%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
        top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    top: 5%;
}


.details>.min-details {
    display: flex;
    justify-content: space-between;
}

.details>.min-details>h5 {
    text-transform: capitalize;
}

.details>.min-details>h5>span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.btn {
    background-color: #192a56 !important;
    border-radius: 5px;
    color: #FFF !important;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
        transform .3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}